[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
bind-address=0.0.0.0
port=3306
user=mysql
skip-networking=0
max_allowed_packet=16M
wait_timeout=3000
net_read_timeout=3000
net_write_timeout=3000

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
port=3306
protocol=tcp 